.appInfo {
    flex-direction: column;
    margin-top: 20px !important;
    width: 80vw;
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
}

.image {
    width: 100px;
}

.appInfo__date {
    border: 1px grey solid;
    width: 350px;
    text-align: center;
    background-color: lightblue;
}

.appInfo__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2px;
}

.appInfo__details {
    flex: 0.5;
}
